<p>todo works!</p>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div cdkDropList class="example-box" (cdkDropListDropped)="drop($event)">
        <div class="form-control" *ngFor="let item of items" cdkDrag [cdkDragDisabled]="item.disabled">{{item.value}}
        </div>
    </div>



    

</body>

</html>


